{% extends 'layout.html' %}

{% block body %}
<h1>Articles</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Título</th>
        <th scope="col">Mensagem</th>
      </tr>
    </thead>
    <tbody>
        {% for article in articles %}
        <tr>
            <th scope="row">{{article.id}}</th>
            <td>
                <a href="/article/{{article.id}}">
                {{article.title}}
                </a>
            </td>
            <td>
                <a href="/article/{{article.id}}">
                {{article.body}}
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}